# Compiled Python files
*.pyc

# Logs
*.log

# IDE settings
.idea/

# Virtual environment
venv/

# Dependency directories
__pycache__/
env/


#random images
robaccia/
*.vsidx
*.lock
*.sqlite
.vs/ProjectSettings.json
.vs/PythonSettings.json
.vs/VSWorkspaceState.json
.vs/progettoTriste/v17/.wsuo
*.pth
config.ini
*.pt
Models/
